.container {
    width: 1000px; margin: 50px; padding: 20px; border: 2px solid black; text-align: center;
    p { display: inline-block; background: skyblue; color: white;
        span { font-weight: bold; color: black; }
    }
}